/*universal styles*/
html {
  font-size: 16px;
}

div {
  border: red 1px solid;
}

/*desktop header*/
.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0 1.5rem;
}

.mobile-header {
  display: none;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;

}

.desktop-header nav ul li {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-header nav ul li {
  padding-left: 1rem;
}
/*mobile header*/
/*banner section*/
.banner {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;

}
/*banner image*/
.bannerimg {
  display: inline-flex;
  align-items: center;
  height: auto;
  width: 60%;
  padding: 2rem 1.5rem;
}

.bannerimg img {
  width: 100%;
  height: auto;
}
/*banner text*/
.bannertxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: auto;


}

.bannertxt h1 {
  border: red 1px solid;
  width: 90%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}
.bannertxt h4 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

/*banner button*/

.btn {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
  height: auto;
  padding: 0.5rem;
}

.btn h2 {
  display: flex;
  align-self: center;

}
/*practice section and info navigation*/
.info {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

.infoquote {
  display: flex;
  flex-direction: column;
  width: 60%;

}
.infoimg {
  display: inline-flex;
  align-items: center;
  height: auto;
  width: auto;
  padding: 2rem 1.5rem;
}

.infoimg img {
  width: 100%;
  height: auto;
}

.quote {
  padding: 2rem 1.5rem;
  height: auto;
  width: auto;
}

.quote h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
/*info navigation boxes*/
.infonav {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.box {
  padding: 1rem;
  display: flex;
  flex-direction:row;
}
.boximg {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.boximg img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.boxinfo {
  padding-left: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.boxinfo h3, span {
  padding-bottom: 0.5rem;
}
/*courses section*/
.courses {
  display: flex;
  flex-direction: column;
  padding: 2rem 4.5rem;
  height: auto;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-self: center;
}
.courses .title h1 {
  font-size: 2rem;
  font-weight: bold;
}

/*desktop courses*/

.desktop-prog {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/*check this because your boxes are not lined up properly!!*/
/*programmes*/
.prog {
  height: auto;
  width: 25%;
  margin: 2rem;
}

.prog-img {
  height: auto;
  width: 100%;
}

.prog-img img {
  height: auto;
  width: 100%;
}

.prog-txt {
  padding: 1rem 1rem 1.5rem 1rem;
}

.prog-txt h5 {
  padding: 0.5rem 0rem;
}
/*mobile courses*/
/*thesis exhibition section*/
/*video and quote section*/
/*information navigation menu*/
/*boxes*/
/*footer*/
footer {
  display: flex;
  height: 64px;
  width: 100%;
}
/*copyright*/
/*footer navigation*/
