/*universal styles*/
html {
  font-size: 16px;
  font-family: 'Source Serif Pro', serif;
}


/*desktop header*/
.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: auto;
  padding: 0 1.5rem;
}


.mobile-header {
  display: none;
}


.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;

}

.logo span {
  font-size: 1.5rem;
  padding: 0, 1rem;
}

.desktop-header nav ul li {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-header nav ul li {
  padding-left: 1rem;
}
/*mobile header*/
@media only screen and (max-width: 480px) {
  .desktop-header {
    display: none;
}
 .mobile-header {
   display: flex;
   height: 4rem;
   width: auto;
   justify-content: space-around;
   align-items: center;
 }
 .mobile-header nav a img {
   margin: 1.75rem;
   justify-content: space-between;
   align-items: center;
 }

.logo {
  align-self: center;
}
}

/*banner section*/
.banner {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#29aaa8, #29a974);
}

/*banner image*/
.bannerimg {
  display: inline-flex;
  align-items: center;
  padding: 2rem 1.5rem;
}

.bannerimg-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
  }
  .bannerimg {
  display: none;
  }

  .bannerimg-mobile {
    display: flex;
    width:
    padding: 0;
  }
}




/*banner text*/
.bannertxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;


}

.bannertxt .btn {
  justify-content: flex-start;
}

.bannertxt h1 {
  width: 90%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}
.bannertxt h4 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

@media only screen and (max-width: 480px) {

  .bannertxt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    padding: 2rem 0rem 2rem 1rem;

  }

  .bannertxt .btn {
    justify-content: space-around;
  }

  .bannertxt h1 {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  .bannertxt h4 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }

}
/*banner button*/

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: auto;
  padding: 0.5rem;
  background-color: rgb(28, 102, 62);
}

.btn h2 {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: bold;

}


/*practice section and info navigation*/
.info {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

.infoquote {
  display: flex;
  flex-direction: column;
  width: 60%;

}
.infoimg {
  display: inline-flex;
  align-items: center;
  height: auto;
  width: auto;
  padding: 2rem 1.5rem;
}


.quote {
  padding: 2rem 1.5rem;
  height: auto;
  width: auto;
}

.quote h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
/*info navigation boxes*/
.infonav {
  display: flex;
  flex-direction: column;
  width: auto;
  border-left: rgb(53, 183, 129) 0.5px solid;
  padding-top: 1rem;
}

.box {
  padding: 1rem;
  display: flex;
  flex-direction:row;
}

.box:nth-child(3n+0) {
  background-color: rgba(53, 183, 129, 0.5);
}


.boximg {
  display: flex;
  flex-direction: column;
  width: 35%;

}
.boximg img {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.boxinfo {
  padding-left: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.boxinfo h3, span {
  padding-bottom: 0.5rem;
}

.boxinfo h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.boxinfo a {
  color: blue;
}

/*courses section*/
.courses {
  display: flex;
  flex-direction: column;

  height: auto;
  width: auto;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0),
                                      rgba(41,170,168,1));
}

.title {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}
.title h1 {
  font-size: 2rem;
  font-weight: bold;
}

/*desktop courses*/

.desktop-prog {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/*check this because your boxes are not lined up properly!!*/
/*programmes*/
.prog {
  height: auto;
  width: 25%;
  margin: 2rem;
}

.prog-img {
  height: auto;
  width: 100%;
}

.prog-img img {
  height: auto;
  width: 100%;
}

.prog-txt {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: #FFFFFF;
}

.prog-txt h4 {
  font-weight: bold;
  font-size: 1.5rem;
}
.prog-txt h5 {
  padding: 0.5rem 0rem;
}
/*mobile courses*/
/*thesis exhibition section*/

/*video and quote section*/
.infovid {
  display: inline-flex;
  align-items: center;
  height: auto;
  width: auto;
  padding: 1.5rem;
}

.infovid video {
  width: 100%;
  height: auto;
}

/*thesis exhibition info nav style 1st box*/
.title h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.box1 {
  padding: 1rem;
  display: flex;
  flex-direction:row;
}

.box1:nth-child(1n+0) {
  background-color: rgb(53, 183, 129, 0.50);
}
/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
  padding: 1rem 1.5rem;
  border-top: rgb(53, 183, 129) 0.5px solid;
}

.desktop-footer nav ul li{
  width: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;

}

.desktop-footer nav ul li a{
  padding: 0.5rem;
}
/*copyright*/
/*footer navigation*/
